<div class="distorted" >
  {%- if href != true %}
      {%- capture href %}{{ path }}{{ name }}{%- endcapture -%}
  {%- endif %}
  <a href="{{ href }}" title="{{ title }}" target="_blank">
    <picture>
      {%- if sources %}
        {%- for source in sources %}
      {%- comment %} TODO: Add `type` attribute to <source>s{%- endcomment %}
      <source srcset="{{ path }}{{ source.name }}" media="{{ source.media }}"/>
        {%- endfor %}
      {%- endif %}
      <img src="{{ path }}{{ name }}" alt="{{ alt }}" title="{{ title }}"/>
    </picture>
  </a>
    {%- if caption %}
  <p class="image-caption">{{ caption }}</p>
    {%- endif %}
  <span style="clear: left;"></span>
</div>
