<div class="distorted pdf">
  {%- if title != nil and title != "" %}
    {%- capture pdf_link %}{{ title }}{%- endcapture -%}
  {%- elsif alt != nil and alt != "" %}
    {%- capture pdf_link %}{{ alt }}{%- endcapture -%}
  {%- endif %}
  <object data="{{ path }}{{ name }}" type="application/pdf" width="{{ width }}" height="{{ height }}">
    <embed src="{{ path }}{{ name }}" type="application/pdf" width="{{ width }}" height="{{ height }}"/>
    <a href="{{ path }}{{ name }}">{{ pdf_link }} [PDF]</a>
  </object>
    {%- if caption != nil and caption != "" %}
  <p class="distorted-caption">{{ caption }}</p>
    {%- endif %}
</div>
