<div class="distorted svg" >
  {%- if href != true %}
      {%- capture href %}{{ path }}{{ name }}{%- endcapture -%}
  {%- endif %}
  {%- if alt != nil and alt != "" %}
    {%- capture attr_alt %} alt="{{ alt }}"{%- endcapture -%}
  {%- endif %}
  {%- if title != nil and title != "" %}
    {%- capture attr_title %} title="{{ title }}"{%- endcapture -%}
  {%- endif %}
  {%- if loading != nil and loading != "" %}
    {%- capture attr_loading %} loading="{{ loading }}"{%- endcapture -%}
  {%- endif %}
  <a href="{{ href }}"{{ attr_title }} target="_blank">
    <picture>
      {%- if sources %}
        {%- for source in sources %}
      <source srcset="{{ path }}{{ source.name }}" type="{{ source.type }}"{{ attr_media }}/>
        {%- endfor %}
      {%- endif %}
      <img src="{{ path }}{{ fallback_img }}"{{ attr_alt }}{{ attr_title }}{{ attr_loading }}/>
    </picture>
  </a>
    {%- if caption %}
  <p class="distorted-caption">{{ caption }}</p>
    {%- endif %}
  <span style="clear: left;"></span>
</div>
