<div class="distorted" >
  {%- if href != true %}
      {%- capture href %}{{ path }}{{ name }}{%- endcapture -%}
  {%- endif %}
  <video id="distorted-video" class="video-js vjs-default-skin" controls>
    <source src="{{ path }}{{ basename }}.hls/{{ basename }}.m3u8" type="application/x-mpegURL"/>
  </video>
    {%- if caption %}
  <p class="distorted-caption">{{ caption }}</p>
    {%- endif %}
  <span style="clear: left;"></span>
</div>
