<div class="image-wrapper {{ float }}" >
    {%- if href %}
        {%- if href == 'original' %}
            {%- capture href %}{{ path }}{{ name }}{%- endcapture -%}
        {%- else %}
            {%- assign href = href -%}
        {%- endif %}
  <a href="{{ href }}" title="{{ title }}" target="_blank">
    {%- endif %}
    <picture>
      {%- if sources %}
        {%- for source in sources %}
      {%- comment %} TODO: Add `type` attribute to <source>s{%- endcomment -%}
      <source srcset="{{ path }}{{ source.name }}" media="{{ source.media }}"/>
        {%- endfor %}
      {%- endif %}
      <img src="{{ path }}{{ name }}" alt="{{ alt }}" title="{{ title }}"/>
    </picture>
    {%- if href %}
  </a>
    {%- endif %}
    {%- if caption %}
  <p class="image-caption">{{ caption }}</p>
    {%- endif %}
</div>
